*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
	
}

#container{
	height:100%;
	width:auto;
}

#menubar{
	height:50px;
	font-family: 'Rancho', serif;
	position:fixed;		
    font-size: 30px;
	width:100%;
	background-color:rgba(38,141,120,0.5);
	color:#0a0208;

}
ul{
	margin:0px;
	padding:0px;
	list-style:none;
	width:100%;

}
ul li{
	padding-top:10px;	
	float:left;
	width:250px;
	height:40px; 
	text-align:center;
	font-size:30px;
}
ul li a{
	text-decoration:none;
	display:block;
	color:#ffffff;
}

ul li a:hover{
	background-color:black;
	opacity:0.6;
}
ul li ul li{
	display:none;
}
ul li:hover ul li{
	display:block;
	background-color:rgba(38,141,120,0.5);
}

a{
	text-decoration:none;
	color:inherit;

}
#skills{
	font-size:70px;
	font-family:Rosewood Std;
	padding-top:40px;
	margin-bottom:-100px;
}
#cpp_logo:hover{
	background-color:#919191;
	opacity:0.7;
}
#java_skills:hover{
	background-color:#919191;
	opacity:0.7;
}
#ps_logo:hover{
	background-color:#919191;
	opacity:0.7;
}
#c{
	margin-top:-38px;
	font-family:Cooper Black;
	font-size:20px;
	padding-bottom:20px;
}
#low1{
	padding-top:15px;
	font-family:MV Boli;
	font-style:italic;
	font-size:14px;
}
#java{
	margin-top:-38px;
	font-family:Cooper Black;
	font-size:20px;
	padding-bottom:20px;
}
#low2{
	padding-top:15px;
	font-family:MV Boli;
	font-style:italic;
	font-size:14px;
}

#ps{
	margin-top:-60px;
	font-family:Cooper Black;
	font-size:20px;
	padding-bottom:20px;
}

#low3{
	padding-top:15px;
	font-family:MV Boli;
	font-style:italic;
	font-size:14px;
}
#recent{
	padding-top:40px;
	font-size:70px;
	font-family:Rosewood Std;
}
#jav2:hover{
	background-color:#e0e0e0;
	opacity:0.7;
}
#davao_cms:hover{
	background-color:#e0e0e0;
	opacity:0.7;
}
#logo_design:hover{
	background-color:#e0e0e0;
	opacity:0.7;
}
#low4{
	padding-top:15px;
	font-family:MV Boli;
	font-style:italic;
	font-size:14px;
}
#low5{
	padding-top:15px;
	font-family:MV Boli;
	font-style:italic;
	font-size:14px;
}
#low6{
	padding-top:15px;
	font-family:MV Boli;
	font-style:italic;
	font-size:14px;
}
#book{
	margin-top:-100px;
	font-family:Cooper Black;
	font-size:20px;
}
#cms{
	margin-top:-100px;
	font-family:Cooper Black;
	font-size:20px;
}
#logo{
	margin-top:-100px;
	font-family:Cooper Black;
	font-size:20px;
}
#about{
	font-size:70px;
	font-family:Rosewood Std;
}
#name{
	font-family:Lithos Pro;
	font-size:20px;
	text-align:left;
	margin-left:-50px;
	padding-left:0px;
}
#age{
	font-family:Lithos Pro;
	font-size:20px;
	text-align:left;
}
#quote{
	font-size:18px;
	font-family:Forte;
	text-align:center;
}
td{
	text-align:center;
}
table,th{
	border-collapse:collapse;
	padding:0;
	border:0px solid black;
	border-left: solid 2px #000203;
	
}
#image{
	width:100%;
	height:615px;
}
#AboutMe1{
	background-color:#e0e0e0;
}
#Skills1{
	background-color:#919191;
}
#RecentWorks1{
	background-color:#e0e0e0;
}

#Footer1{
	background-color:rgba(38,141,120,0.8);
}
#gmail:hover{
	background-color:rgba(38,141,120,0.8);
	opacity:0.6;
}
#fb:hover{
	background-color:rgba(38,141,120,0.8);
	opacity:0.6;
}
#phone:hover{
	background-color:rgba(38,141,120,0.8);
	opacity:0.6;
}
#telephone:hover{
	background-color:rgba(38,141,120,0.8);
	opacity:0.6;
}
