*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
}

#container{
	height:100%;
	width:auto;
}

#menubar{
	height:60px;
	font-family: 'Rancho', serif;
    font-size: 30px;
	position:fixed;
	width:100%;
	background-color:#464646;
	opacity:0.8;
	color:#f7f558;
	
}
ul{
	
	margin:0px;
	padding:0px;
	list-style:none;
	width:100%;
}
ul li{
	padding-top:10px;	
	float:left;
	width:250px;
	height:40px; 
	opacity:.8;
	text-align:center;
	font-size:30px;
}
ul li a{
	text-decoration:none;
	display:block;
}

ul li a:hover{
	background-color:#464646;
}
ul li ul li{
	display:none;
}
ul li:hover ul li{
	display:block;
}
a{
	text-decoration:none;
	color:inherit;

}

td{
	text-align:center;
}
table,th{
	border-collapse:collapse;
	padding:0;
	border:0px solid black;
	border-left: solid 2px #000203;
	
}
#Skills1{
	background-color:gray;
}
#RecentWorks1{
	background-color:#919191;
}

#Footer1{
	background-color:#919191;
}
