*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
}

#container{
	height:100%;
	width:auto;
}

#menubar{
	height:60px;
	font-family: 'Rancho', serif;
    font-size: 30px;
	position:fixed;		
	width:100%;
	background-color:#30b096;
	color:#0a0208;
}

ul{
	margin:0px;
	padding:0px;
	list-style:none;
	width:100%;
}
ul li{
	padding-top:10px;	
	float:left;
	width:250px;
	height:40px; 
	text-align:center;
	font-size:30px;
}
ul li a{
	text-decoration:none;
	display:block;
}

ul li a:hover{
	background-color:white;
}
ul li ul li{
	display:none;
}
ul li:hover ul li{
	display:block;
	background-color:#30b096;
}

a{
	text-decoration:none;
	color:inherit;

}

td{
	text-align:center;
}
table,th{
	border-collapse:collapse;
	padding:0;
	border:0px solid black;
	border-left: solid 2px #000203;
	
}
#AboutMe1{
	background-color:#e0e0e0;
}
#Skills1{
	background-color:#e0e0e0;
}
#RecentWorks1{
	background-color:#919191;
}

#Footer1{
	background-color:#33a483;
}
@keyframes slider {

0% {
	left: 0;
}

20% {
	left: 0;
}

25% {
	left: -100%;
}

45% {
    left: -100%;

}

50% {
		left: -200%;

}

70% {
	left: -200%;
}

75% {
	left: -300%;
}

95% {
	left: -300%;
}

100% {
	left: -400%;

}

}

#slider {
	overflow: hidden;
	padding-top:50px;
}

#slider figure img {
	width: 20%;
	float: left;
}

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 10s slider infinite; 

}